<div class="content-full bck-light">
    <div class="content flex-col blurb">
        <h2>Form Elements</h2>
        <p>From prototyping to designing a look and feel, use these base styles for designing elements for our digital products. These resources help us to create better experiences for our users that feel consistent across browsers, devices and apps.</p>
    </div>
</div>
<div class="content-full bck-dark">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Buttons</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/baseStyles/buttons.png" />
        </div>
    </div>
</div>
<div class="content-full bck-light">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Form layout</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/baseStyles/formLayout.png" />
        </div>
    </div>
</div>
<div class="content-full bck-dark">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Text input</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/baseStyles/textInput.png" />
        </div>
    </div>
</div>
<div class="content-full bck-light">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Multi line text input</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/baseStyles/multiLineTextInput.png" />
        </div>
    </div>
</div>
<div class="content-full bck-dark">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Single select input</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/baseStyles/singleSelectInput.png" />
        </div>
    </div>
</div>
<div class="content-full bck-light">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Multi select input</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/baseStyles/multiSelectInput.png" />
        </div>
    </div>
</div>
<div class="content-full bck-dark">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Checkbox</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/baseStyles/checkbox.png" />
        </div>
    </div>
</div>
<div class="content-full bck-light">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Drop&ndash;down list</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/baseStyles/dropDownList.png" />
        </div>
    </div>
</div>
<div class="content-full bck-dark">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Date picker</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/baseStyles/datePicker.png" />
        </div>
    </div>
</div>
<div class="content-full bck-light">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Date selector</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/baseStyles/dateSelector.png" />
        </div>
    </div>
</div>
<div class="content-full bck-dark">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Form field validation</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/baseStyles/formFieldValidation.png" />
        </div>
    </div>
</div>
<div class="content-full bck-light">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Show more</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/baseStyles/showMore.png" />
        </div>
    </div>
</div>
<div class="content-full bck-dark">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Auto suggest</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/baseStyles/autoSuggest.png" />
        </div>
    </div>
</div>
<div class="content-full bck-light">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Pagination</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/baseStyles/pagination.png" />
        </div>
    </div>
</div>
<div class="content-full bck-light">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Accordions</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/baseStyles/accordions.png" />
        </div>
    </div>
</div>
<!-- IDENTITY -->
<div class="content-full bck-dark">
    <div class="content flex-col blurb">
        <h2>Identity</h2>
        <p>From prototyping to designing a look and feel, use these base styles for designing elements for our digital products. These resources help us to create better experiences for our users that feel consistent across browsers, devices and apps.</p>
    </div>
</div>
<div class="content-full bck-light">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Logos</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/baseStyles/logos.png" />
        </div>
    </div>
</div>
<div class="content-full bck-dark">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Colours</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/baseStyles/colours.png" />
        </div>
    </div>
</div>
<div class="content-full bck-light">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Typography</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/baseStyles/typography.png" />
        </div>
    </div>
</div>
<div class="content-full bck-dark">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Grid</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/baseStyles/grid.png" />
        </div>
    </div>
</div>
<div class="content-full bck-light">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Icons</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/baseStyles/icons.png" />
        </div>
    </div>
</div>
<!-- NAVIGATION -->
<div class="content-full bck-dark">
    <div class="content flex-col blurb">
        <h2>Navigation</h2>
        <p>From prototyping to designing a look and feel, use these base styles for designing elements for our digital products. These resources help us to create better experiences for our users that feel consistent across browsers, devices and apps.</p>
    </div>
</div>
<div class="content-full bck-light">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Primary navigation</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/baseStyles/primaryNavigation.png" />
        </div>
    </div>
</div>
<div class="content-full bck-dark">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Secondary navigation</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/baseStyles/secondaryNavigation.png" />
        </div>
    </div>
</div>
<div class="content-full bck-light">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Page layout</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/baseStyles/pageLayout.png" />
        </div>
    </div>
</div>
