
<div class="content-full bck-light">
    <div class="content flex-col blurb">
        <p>SEEK's style guide details our visual and interactive language to ensure we have consistency and improved communication in our work across all product streams and platforms. By applying coherent design principles for all work, we ensure a high minimum standard is achieved, resulting in the protection of SEEK's brand and an improved experience for our users.</p>
    </div>
</div>
<div class="content-full bck-dark">
    <div class="content flex-row">
        <div>
            <h2>Using our styleguide</h2>
            <p>At SEEK, we like change, and it's anticipated that this guide will be regularly updated. It should include the most recent design templates and interactive patterns being developed by each team, ensuring that our work continues to evolve.</p>
            <button>Get Started</button>
        </div>
        <div>
            <img src="images/misc/ourguide.png" />
        </div>
    </div>
</div>
<div class="content-full bck-light">
    <div class="content flex-col">
        <div>
            <h2 style="text-align:center;">Design Framework</h2>
        </div>
        <div class="flex-row">
            <div class="col-3 flex-col">
                <img src="images/misc/colours.png" />
                <h3><a href="">Colours</a></h3>
                <p>The SEEK product experience utilises a similar colour schematic and visual 'weight' which ever site or device it is displayed on.</p>
            </div>
            <div class="col-3 flex-col">
                <img src="images/misc/type.png" />
                <h3>Type</h3>
                <p>All typographic application needs to be functional. Whether it be through size, colour or weight, it is important that any...</p>
            </div>
            <div class="col-3 flex-col">
                <img src="images/misc/form.png" />
                <h3>Form Design</h3>
                <p>It is vital that users can interact easy with any form that is presented to them. Forms must be intuitively laid out and the ...</p>
            </div>
        </div>
    </div>
</div>
<div class="content-full bck-light">
    <div class="content flex-col" style="text-align:center;">
        <h2>Design at SEEK</h2>
        <p style="margin-bottom:0;"><strong>Mission statement</strong></p>
        <p>SEEK understands my needs and designs with empathy, applying decisions that are informed by data. A SEEK interaction is transparent and honest, requiring minimal thought to achieve my tasks (and the goals of SEEK).<br />
        Accessible design means that it is usable across my devices, with consistent interactions, supported by clear affordance.<br />
      I require my own personalised experiene where my content is king and simple design provides beauty, empowerment and efficiency to get my job done.</p>
    </div>
</div>
<div class="content-full bck-light">
    <div class="content flex-row">
        <div class="col-2 flex-col">
            <h2>Design principles</h2>
            <p>SEEK have developed 10 principles that describe the fundamental goals the design team consider when applying their minds to new design challenges or refining existing work. Their purpose is to enable the creation of content that will assist our users to complete tasks easily and hopefully enjoy the experience.</p>
        </div>
        <div class="col-2 flex-col">
            <h2>Design history</h2>
            <p>SEEK has transformed its design practice in the past several years by doubling the number of User Experience team members in Product. This focus on design enables SEEK to deliver better and more consistent experiences for the our users of our products and services.</p>
        </div>
    </div>
</div>
