<div class="content-full bck-light">
    <div class="content flex-col blurb">
        <p>From prototyping to designing a look and feel, use these base styles for designing elements for our digital products. These resources help us to create better experiences for our users that feel consistent across browsers, devices and apps.</p>
    </div>
</div>
<div class="content-full bck-dark">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Search fields</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/patterns/searchFields.png" />
        </div>
    </div>
</div>
<div class="content-full bck-light">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Responsive guidelines</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <div class="content-expanded">
            <img src="images/patterns/responsiveGuidelines.png" />
        </div>
    </div>
</div>
<div class="content-full bck-dark">
    <div class="content flex-col flex-left">
        <a href="#" onClick="expandSection(this); return false;" class="flex-row">
            <div>
                <h2>Element 3</h2>
                <p>Brief description goes here</p>
            </div>
            <span class="chevron-lrg"><svg width="16" height="16" viewBox="0 0 1024 1024"><path d="M945 305l78 67-510 524L3 372l75-69 435 451 432-449z"></path></svg></span>
        </a>
        <section class="content-expanded">Stuff goes in here</section>
    </div>
</div>
